@* Demonstrates: ASP.NET Web Forms (.aspx) - NOT supported in ASP.NET Core *@
<div class="test-section collapsible">
    <h3 class="section-header">
        <span class="toggle-icon">+</span>
        Web Forms (Legacy ASP.NET)
    </h3>
    <div class="section-content">
        <ul class="endpoint-list">
            <li class="endpoint-item">
                <span class="endpoint-method method-get">GET</span>
                <span class="endpoint-path">/WebForms/SimpleTest.aspx</span>
                <div class="endpoint-description">
                    Minimal Web Forms page with embedded user control (.ascx)
                </div>
                <a href="/WebForms/SimpleTest.aspx" target="_blank" class="test-button visit-area-button">
                    Open Web Forms Page
                </a>
            </li>
        </ul>
    </div>
</div>
